<%- include('common-header'); -%>

<div class="container">
  <h2 class="about"><i class="fa fa-info-circle" aria-hidden="true"></i>About</h2>
  <div class="content">
    <p>The To-Do List Management System, created by Ashwin Pulipati, is a web application designed to streamline task organization and management. Built using Node.js, Express, and MongoDB, this intuitive and user-friendly app empowers individuals to efficiently manage their tasks and stay organized.</p>
    <p>Users can leverage the default "To-Do List" and create personalized custom lists, each associated with a creation date. The homepage displays custom lists in descending order of creation, providing a clear overview of tasks and priorities.</p>
    <p>Key features include the ability to add, complete, and restore tasks, as well as delete entire lists. The app's responsive design ensures seamless navigation across different devices, with a convenient hamburger menu for easy access to additional pages such as "Help," and "Contact" </p>
    <p>With its clean interface and search functionality, the To-Do List app simplifies task management, making it an essential tool for individuals and teams. Whether organizing personal tasks or collaborating on shared lists, this application enhances productivity and efficiency.</p>
  </div>
</div>
</body>
</html>
