<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do List</title>
    <link rel="stylesheet" href="css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="../CSS/about.css" />
    <link rel="stylesheet" href="../CSS/faq.css" />
    <link rel="stylesheet" href="../CSS/help.css" />
    <link rel="stylesheet" href="../CSS/contact.css" />
  </head>
  <body>
    <div>
      <div class="header">
        <div class="hamburger-menu">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </div>
    </div>

    <div class="menu">
      <ul>
        <li>
          <a href="/"><i class="fa-solid fa-house"></i>Home</a>
        </li>
        <li>
          <a href="/help"><i class="fa-solid fa-headset"></i>Help</a>
        </li>
        <li>
          <a href="/contact"><i class="fa-solid fa-phone"></i>Contact</a>
        </li>
        <li>
          <a href="/about"
            ><i class="fa fa-info-circle" aria-hidden="true"></i>About</a
          >
        </li>
      </ul>
    </div>
  </body>
</html>

<script>
  var menuVisible = false;
  var hamburgerMenu = document.querySelector(".hamburger-menu");
  var menu = document.querySelector(".menu");
  hamburgerMenu.addEventListener("click", function () {
    if (!menuVisible) {
      menu.style.left = "0";
      menuVisible = true;
      for (var i = 0; i < 3; i++) {
        hamburgerMenu.children[i].classList.add("active-bar");
      }
    } else {
      menu.style.left = "-200px";
      menuVisible = false;
      for (var i = 0; i < 3; i++) {
        hamburgerMenu.children[i].classList.remove("active-bar");
      }
    }
  });
</script>
