<%- include('common-header'); -%>

<h2 class="help"><i class="fa-solid fa-headset"></i> Help</h2>
<video width="700" height="350" controls>
  <source src="/css/images/movie.mp4" type="video/mp4" />
</video>
</body>
</html>
